.checkoutProduct{
    display: flex;
    margin-top: 5px;
}

.checkoutProduct__img{
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.checkoutProduct__info{
    padding-left: 20px;
    margin-top: 30px;
}

.checkoutProduct__info > button{
    background: #E93D67;
    border: 1px solid #E93D67;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
}    

.Checkoutproduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__des{
    margin: 5px 0;
}